// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/
// Color system
// colors
$white: #fff;

// font weight
$thin:                        100;
$light:                       300;
$normal:                      400;
$medium:                      500;
$semibold:                    600;
$bold:                        700;
$extra:                       800;
$black-font:                  900;
